.formInputDiv {
    width: 100%;
}

.inputWrapper {
    height: 3rem;
    position: relative;
}

.input {
    width: 100%;
    height: 100%;
    padding-inline: var(--spacing-150);
    padding-block: var(--spacing-150);
    border-radius: var(--radius-8);
    border: 1px solid var(--color-neutral-300)
}

.viewIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.label {

}

.hint {
    margin-top: var(--spacing-100);
    margin-bottom: var(--spacing-050);
    display: flex;
    align-items: center;
    gap: var(--spacing-075);
}

.inputError {
    border: 1px solid var(--color-red-500)
}

.error {
    color: var(--color-red-500);
}

.hintIcon path{
    height: 1rem;
    aspect-ratio: 1/1;
    stroke: var(--color-neutral-600);
}

.hintText {
    color: var(--color-neutral-600);
}
