.form {
    width: 100%;
    padding-inline: var(--spacing-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-150);
}

.footerLink {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
}