.backdrop {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-100);
}

.modalBody {
    padding-block: var(--spacing-500);
    width: 540px;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    background-color: var(--color-neutral-0);
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: var(--spacing-400);
    border-radius: var(--radius-12);
    box-shadow: var(--large-shadow);
}

.modalHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-050);
}