* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.2px;
}

h1 {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.5px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: -0.5px;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.3px;
}

a {
    text-decoration: none;
    color: unset;
}

:root {
    /* SPACING */
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;

    /* COLORS */
    --color-neutral-950: #0E121B;
    --color-neutral-900: #191B25;
    --color-neutral-800: #232530;
    --color-neutral-700: #2B303B;
    --color-neutral-600: #525866;
    --color-neutral-500: #717784;
    --color-neutral-400: #99A0AE;
    --color-neutral-300: #CACFD8;
    --color-neutral-200: #E0E4EA;
    --color-neutral-100: #F3F5F8;
    --color-neutral-50: #F5F7FA;
    --color-neutral-0: #FFFFFF;
    --color-blue-700: #2547D0;
    --color-blue-500: #335CFF;
    --color-blue-50: #EBF1FF;
    --color-green-500: #21C16B;
    --color-green-100: #D1FBE9;
    --color-red-500: #FB3748;
    --color-red-100: #FFD5D8;

    /* BORDER RADIUS */
    --radius-0: 0px;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;

    /* SHADOW */
    --large-shadow: 0px 8px 12px 0px var(--color-neutral-200);
    --small-shadow: 0px 4px 6px 0px rgba(240, 240, 240, 0.6);
}